* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url('./background.jpg');
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: rgb(255, 196, 0);
}

.main {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  max-width: 30rem;
}

input,
button {
  border-radius: 5px;
  padding: 5px;
  border: none;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  style: none;
}

button {
  cursor: pointer;
}

